<nav class="navbar">
  <div class="nav_container">
    <div class="info">
      <ul class="navbar_info">
        <li>
          <a href="tel:1-555-987-6543"><i class="fa fa-phone"></i> +1 555 987 6543</a>
        </li>
        <li>
          <a href="mailto:shop@shop.com"><i class="fa fa-envelope"></i>  shop@myshop.com</a>
        </li>
      </ul>
    </div>
    <div class="social">
      <ul class="navbar_social">
        <li><a class="facebook" href=""><i class="fab fa-facebook"></i></a></li>
        <li><a class="twitter" href=""><i class="fab fa-twitter"></i></a></li>
        <li><a class="linkedin" href=""><i class="fab fa-linkedin"></i></a></li>
        <li><a class="dribble" href=""><i class="fab fa-dribbble"></i></a></li>
        <li><a class="instagram" href=""><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
